<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/ngo_home_style.css">
    <style>
        .button{
            min-width: 200px;
            min-height: 200px;
            padding: 10px;
        }
        .button :hover{
            background-color: #721414;
        }

    </style>
</head>
<body>
   
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="container">
            <div class="row">
                <div class="col-4 button">
                    <a href="/signup"><button class="btn btn-danger button">Add Donors</button></a>
                </div>
                <div class="col-4 button">
                    <button id="addNgo" class="btn btn-danger button">Add NGO</button>
                </div>
                <div class="col-4 button">
                    <button id="listNgoCamps" class="btn btn-danger button">List NGO Camps</button>
                </div>
                
            </div>
        </div>
    </div>
    
    <script>
        document.getElementById('addNgo').addEventListener('click', function() {
            window.location.href = '/admin/add_NGO';
        });
        
        document.getElementById('listNgoCamps').addEventListener('click', function() {
            window.location.href = '/admin/list_ngocamps';
        });
    </script>
</body>
</html>

</html>
